.form-gap {
  padding-top: 70px;
}

* {
  box-sizing: border-box;
}

body {
  background: #171421;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}
.fa-lock {
  color: black; /* Change lock logo color to black */
}

#resetPasswordLinkBtn {
  background-color: #293241; /* Change button background color */
  color: white; /* Change button text color */
  border-color: #685b8a;
}
.panel-body {
  background-color: #685b8a;
}